@if (newLeaveRequestModalIsOpen()) {
  <create-attendance-modal
    (close)="closeNewLeaveRequestModal()"
    (success)="getAttendances(); closeNewLeaveRequestModal()"
  />
}

@if (updateLeaveRequestModalIsOpen()) {
  <update-leave-request-modal
    [leaveRequest]="selectedLeaveRequest"
    (close)="closeUpdateLeaveRequestModal()"
    (success)="getAttendances(); closeUpdateLeaveRequestModal()"
  />
}

<div class="flex items-center justify-between mb-4">
  <div class="flex items-center">
    <h3 class="text-lg mr-6">Attendance</h3>
    <form [formGroup]="filterAttendancesForm" class="flex items-center">
      <div class="max-w-lg w-[425px] mr-4">
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            formControlName="employee"
            type="search"
            id="default-search"
            class="block w-full py-2 px-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write a employee name"
          />
        </div>
      </div>

      <div class="max-w-sm mr-4">
        <select
          formControlName="status"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="null" selected hidden>Status</option>
          <option value="null">All</option>
          <option value="1">Present</option>
          <option value="2">Absent</option>
          <option value="3">Late</option>
        </select>
      </div>

      <input
        formControlName="date"
        type="date"
        id="default-search"
        class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write a employee name"
      />
    </form>
  </div>
  <button
    (click)="openNewLeaveRequestModal()"
    type="button"
    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
  >
    New Attendance
  </button>
</div>
<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg overflow-hidden dark:border-gray-700">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Employee
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Date
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Time In
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Time Out
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Status
              </th>
              <!-- <th -->
              <!--   scope="col" -->
              <!--   class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-gray-400" -->
              <!-- > -->
              <!--   Action -->
              <!-- </th> -->
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            @for (attendance of attendances; track attendance) {
              <tr>
                <td
                  class="capitalize px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
                >
                  {{ attendance.employee.first_name }}
                  {{ attendance.employee.last_name }}
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  {{ attendance.date | date }}
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  {{ attendance.time_in }}
                </td>

                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  {{ attendance.time_out }}
                </td>
                <td
                  class="px-6 py-4 text-end whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  <div>
                    <span
                      class="py-1 px-3 inline-flex items-center gap-x-1 text-xs font-medium rounded-full dark:bg-teal-500/10 dark:text-teal-500"
                      [ngClass]="{
                        'bg-yellow-100': attendance.status.id === 2,
                        'text-yellow-800': attendance.status.id === 2,
                        'bg-teal-100': attendance.status.id === 1,
                        'text-teal-800': attendance.status.id === 1,
                        'bg-red-100': attendance.status.id === 3,
                        'text-red-800': attendance.status.id === 3
                      }"
                    >
                      {{ attendance.status.name }}
                    </span>
                  </div>
                </td>
                <!-- <td -->
                <!--   class="px-6 py-4 flex items-center justify-end whitespace-nowrap text-sm text-gray-800 dark:text-gray-200" -->
                <!-- > -->
                <!--   <span -->
                <!--     (click)="openUpdateLeaveRequestModal(attendance)" -->
                <!--     class="mr-4 cursor-pointer" -->
                <!--   > -->
                <!--     <svg -->
                <!--       xmlns="http://www.w3.org/2000/svg" -->
                <!--       fill="none" -->
                <!--       viewBox="0 0 24 24" -->
                <!--       stroke-width="1.5" -->
                <!--       stroke="currentColor" -->
                <!--       class="w-6 h-6" -->
                <!--     > -->
                <!--       <path -->
                <!--         stroke-linecap="round" -->
                <!--         stroke-linejoin="round" -->
                <!--         d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" -->
                <!--       /> -->
                <!--     </svg> -->
                <!--   </span> -->
                <!-- </td> -->
              </tr>
            } @empty {
              <tr class="text-center">
                <td colspan="6" class="py-6">
                  <span>No results</span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
